<table class="table-striped">
<%
=begin %>
	<b><%= comment.user.name %></b><br />
<%
=end %>
	<%= comment.body %>
	<% if session[:user] && session[:user][:id] == @post.user.id %>
		<%= link_to 'Удалить', [comment.post, comment], method: :delete, data: { confirm: 'Вы уверены?' } %>
	<% end %>
	<hr>
</table> 