<form class="form-horizontal" action="<%= posts_path %>" method="post">
  <h2 class="form-signin-heading">Новый пост</h2>
  <label>Заголовок:</label><br />
  <button class="btn btn-large btn-primary" type="submit">Создать пост</button>
</form> 
